<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="container">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>
        <div class="col-sm-3 col-md-2">
          <%= image_tag("http://www.gayartcollection.com/Media/Tom_of_Finland/Tom_of_Finland_25.jpg", width: "100%" )%>
          <h3> The Rich Leatherman Difference</h3>
          <p> We offer the best leather cleaning products to people who need to keep their leather wear immaculate at all times. </p>
          <p> Standard shipping is free on all orders.</p>
          <p> We offer subscriptions. So just as your leather cleaner is losing its gusto, a new one will arrive. </p>
          <p> Join our leather cleaner of the month club and try a new leather cleaner every month.</p>
          <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
        </div>


        <div id="content" class="col-sm-9 col-md-10" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
